name: iridium_app
description: A Flutter app for eBooks
publish_to: none

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# Managed by CodeMagic. See https://docs.codemagic.io/configuration/build-versioning/
# version: 0.0.1+2

environment:
  sdk: '>=2.18.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  iridium_reader_widget:
    path: ../reader_widget
  mno_commons:
    path: ../components/commons
  mno_navigator:
    path: ../components/navigator
  mno_opds:
    path: ../components/opds
  mno_shared:
    path: ../components/shared
  mno_webview:
    path: ../components/webview
  mno_lcp:
    path: ../components/lcp
  mno_streamer:
    path: ../components/streamer

  cached_network_image: ^3.3.1
  cupertino_icons: ^1.0.6
  dartx: ^1.2.0
  dfunc: ^0.9.0
  dio: ^5.4.0
  fimber: ^0.7.0
  flutter_fimber: ^0.7.1
  flutter_font_icons: ^2.2.7
  flutter_inappwebview: ^6.0.0
  flutter_spinkit: ^5.2.0
  fluttertoast: ^8.2.4
  google_fonts: ^6.1.0
  json_theme: ^4.0.3+2 # Can't upgrade to 6 because od a few unallowed additional properties such asbackgroundColor, etc.
  objectdb: ^1.2.1+1
  path_provider: ^2.1.2
  permission_handler: ^11.2.0
  provider: ^6.1.1
  shared_preferences: ^2.2.2
  sqflite: ^2.3.0
  sqflite_common_ffi: ^2.3.2
  universal_io: ^2.2.2
  uuid: ^4.2.1
  package_info_plus: ^5.0.1
  url_launcher_web: ^2.2.3
  file_picker: ^6.1.1
  image: ^4.1.4
  collection: ^1.18.0

dependency_overrides:
  intl: ^0.19.0 # multiple_localization 0.3.0 requires intl 0.17.0
  meta: ^1.11.0 # mno_shared 0.1.3 requires meta 1.11.0
  collection: ^1.18.0 # universal_io 2.2.1 requires it
  http: ^1.2.0
  path: ^1.9.0

dev_dependencies:
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/appainter_light_theme.json
    - assets/appainter_dark_theme.json
