---
---

@import "{{ site.theme }}";

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #c62641 !default;
//$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #333333;
$body-text-color: #444444;
$body-link-color: #c62641;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

$header-heading-color: #fff;

$header-bg-color: #c62641;
//$header-bg-color-secondary: #5DAED3;

.page-header {
  color: $header-heading-color;
  text-align: left;
  background-color: $header-bg-color;
  background-image: none;
//  background-image: linear-gradient(285deg, $header-bg-color-secondary 0%, $header-bg-color 100%);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #333333;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
  font-weight: 600;
}
